.main-content{
    margin-left: 240px;
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 90px;
    overflow-x: hidden;
    
}

.app-layout {
    display: flex;
}

.table-container {
    overflow-x: scroll;
    width: 100%;
}

